# Las matematicas tras la regresion logistica
## Las tablas de contingencia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/Luis Antonio Garza/Python proyectos/python-ml-course-master/datasets/gender-purchase/Gender Purchase.csv")

In [3]:
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [4]:
df.shape

(511, 2)

In [5]:
contingency_table = pd.crosstab(df["Gender"], df["Purchase"])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [6]:
contingency_table.sum(axis = 1) # suma horizontal

Gender
Female    265
Male      246
dtype: int64

In [7]:
contingency_table.sum(axis = 0) # suma vertical

Purchase
No     231
Yes    280
dtype: int64

In [8]:
contingency_table.astype("float").div(contingency_table.sum(axis = 1), axis = 0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## La probabilidad condicional

In [9]:
from IPython.display import display, Math, Latex

* Cual es la probabilidad de que un cliente compre un producto si es un hombre?


* Cual es la probabilidad de que un cliente compre un producto si es una mujer?

In [13]:
display(Math(r'P(Purchase|Male) = \frac{Numero\ total\ de\ compras\ hechas\ por\ hombres}{Numero\ total\ de\ hombres\ del\ grupo} = \frac{Purchase\cap Male}{Male}'))
121/246

0.491869918699187

In [14]:
121/246

0.491869918699187

In [20]:
display(Math(r'P(Femake|Purchase) = \frac{numero\ total\ de\ compras\ hechas\ por\ mujeres}{Numero\ total\ de\ compras} = \frac{female \cap Purchase}{Purchase}'))

In [21]:
159/280

0.5678571428571428

In [22]:
display(Math(r'P(No\ Purchase|Male) = 1-P(Purchase|Male)'))

In [23]:
125/246

0.508130081300813

In [24]:
display(Math(r'P(Male|Purchase)'))
121/280

0.43214285714285716

In [25]:
display(Math(r'P(Purchase|Male)'))
print(121/246)
display(Math(r'P(NO\ Purchase|Male)'))
print(125/246)
display(Math(r'P(Purchase|Female)'))
print(159/265)
display(Math(r'P(NO\ Purchase|Female)'))
print(106/265)

0.491869918699187

0.508130081300813

0.6

0.4